<h1>New Scientist Form</h1>
<ul>

<%= render partial: "shared/error_list", locals: {new_object: @scientist}%>

<%= render partial: "form_scientists", locals: {submit_text: "Submit New Scientist"} %>

